{% extends "base.html" %}

{% block content %}

<h1 class="title">Manage toppings</h1>

<div class="container-xxl p-1">
    {% for topping in toppings %}
    <div class="row bg-body-secondary p-2 border border-bottom-0 border-black border-2">
        <div class="col-10">{{ topping.name }}</div>
        <div class="col-1">
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#topping-{{ topping.id }}" aria-expanded="false" aria-condivols="topping{{ topping.id }}">
                Edit
            </button>
        </div>
        <div class="col-1">
            <form method="POST" action="/topping">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="topping" value="{{ topping.id }}">
                <button type="submit" class="btn btn-primary w-100">
                    Delete
                </button>
            </form>
        </div>
    </div>

    <form class="row-cols-lg-auto" method="POST" action="/topping">
        <div class="row collapse bg-dark-subtle p-2 border border-bottom-0 border-black border-2" id="topping-{{ topping.id }}">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="topping" value="{{ topping.id }}">
            <div class="col-11">
                <input type="text" id="topping-{{ topping.id }}-new-name" name="newname" value="{{ topping.name }}" placeholder="Topping name">
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary w-100">
                    Save
                </button>
            </div>
        </div>
    </form>
    {% endfor %}
    <div class="row bg-body-secondary p-2 border border-black border-2">
        <div class="col-10"></div>
        <div class="col-2">
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#addtopping" aria-expanded="false" aria-condivols="addtopping">
                + Add a new topping
            </button>
        </div>
    </div>
    <form class="row-cols-lg-auto" method="POST" action="/topping">
        <div class="row collapse bg-dark-subtle p-2 border border-top-0 border-black border-2" id="addtopping">
            <input type="hidden" name="_method" value="POST">
            <div class="col-11">
                <input type="text" id="new-topping-name" name="new-topping-name" placeholder="Topping name">
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary w-100">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
