{% extends "home.html" %}

{% block extrainfo %}
<div>
<ul style="list-style-type: none; margin: 0; padding: 0;">
{% for topping in toppings %}
{% if item is not none and topping.id in pizzatoppings[index] %}
<li>- <em>{{ topping.name }}</em></li>
{% endif %}
{% endfor %}
</ul>
</div>
{% endblock %}

{% block formitems %}
{% for topping in toppings %}
<div class="row mb-3 ps-3">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{ topping.id }}" name="topping" id="{{ topping.name }}"{% if item is not none and topping.id in pizzatoppings[index] %} checked{% endif %}>
        <label class="form-check-label" for="{{ topping.name }}">{{ topping.name }}</label>
    </div>
</div>
{% endfor %}
{% endblock %}